<title>
    File Uploader
</title>
<h1>Click Button to upload file</h1>
<div class="container">
    <form action="/uploadFile" method="post" enctype="multipart/form-data">
        <input type="file" name="uploadedFile" />
        <input type="submit" value="Upload File" class="btn btn-default">
    </form>
</div>