<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinemax</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="shortcut icon" href="/css/clapperboard.png" type="image/x-icon">
</head>

<body>
    <header>
        <%- include('navbar.ejs', { req: req }) %>
    </header>
    <main class="container">
        <h2 style="text-align: center; margin: 10px;">Add Movie</h2>
        <hr>
        <form action="/admin/add" method="post">
            <div class="grid-container">
                <div class="upload-preview">
                    <label for="poster">Upload Poster:</label>
                    <input type="file" id="poster" name="poster" accept="image/*">
                    <div id="image-preview"></div>
                </div>

                <div class="add-movie-form">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="title">Title:</label>
                                <input type="text" class="form-control" id="title" name="title" required>
                            </div>
                            <div class="form-group">
                                <label for="title">Storyline:</label>
                                <textarea name="storyline" id="storyline" cols="50" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="timing">Timing:</label>
                                <input type="time" class="form-control" id="timing" name="timing" required>
                            </div>
                            <div class="form-group">
                                <label for="cast">Cast:</label>
                                <input type="text" class="form-control" id="cast" name="cast" required>
                            </div>
                            <div class="form-group">
                                <label for="day">Day:</label>
                                <select class="form-control" id="day" name="day" required>
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                    <option value="Saturday">Saturday</option>
                                    <option value="Sunday">Sunday</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Add Movie</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </main>
    <%- include('footer.ejs') %>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>

<script>
    document.getElementById('poster').addEventListener('change', function () {
        var file = this.files[0];
        var reader = new FileReader();

        reader.onload = function (e) {
            var imagePreview = document.getElementById('image-preview');
            imagePreview.innerHTML = ''; // Clear previous preview

            var img = new Image();
            img.src = e.target.result;
            img.style.maxWidth = '756px'; // Adjust max-width as needed
            imagePreview.appendChild(img);
        };

        reader.readAsDataURL(file);
    });
</script>

<script>
    document.querySelector('form').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent default form submission

        // Get form data
        var addMovieFormData = new FormData();
        var fileInput = document.getElementById('poster').files[0];
        addMovieFormData.append('poster', fileInput); // Append the file to form data

        // Get other form fields
        var title = document.getElementById('title').value;
        var storyline = document.getElementById('storyline').value;
        var timing = document.getElementById('timing').value;
        var cast = document.getElementById('cast').value;
        var day = document.getElementById('day').value;

        console.log(title, timing, cast, day)

        addMovieFormData.append('title', title);
        addMovieFormData.append('storyline', storyline);
        addMovieFormData.append('timing', timing);
        addMovieFormData.append('cast', cast);
        addMovieFormData.append('day', day);

        // Send POST request to server
        fetch('/admin/add', {
            method: 'POST',
            body: addMovieFormData
        })
            .then(response => response.json())
            .then(data => {
                console.log('Response from server:', data);
                window.location.href = "/";
                // Handle response from server
            })
            .catch(error => {
                console.error('Error:', error);
                // Handle error
            });
    });
</script>