<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinemax</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="shortcut icon" href="/css/clapperboard.png" type="image/x-icon">
</head>

<body>
    <header>
        <%- include('navbar.ejs', { req: req }) %>
    </header>
    <div class="container">
        <h2>Current Movies</h2>
        <div class="row">
            <% currentMovies.forEach(movie => { %>
                <%- include('movieCard.ejs', {movie}) %>
            <% }); %>
        </div>
        <h2>Upcoming Movies</h2>
        <div class="row">
            <% upcomingMovies.forEach(movie => { %>
                <%- include('movieCard.ejs', {movie}) %>
            <% }); %>
        </div>
    </div>
        <%- include('footer.ejs') %>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
