<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration - Cinemax </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="shortcut icon" href="/css/clapperboard.png" type="image/x-icon">
</head>

<body>
    <header>
        <%- include('navbar.ejs', { req: req }) %>
    </header>
    <div class="container authForms">
        <form class="register-form" action="/auth/signup" method="POST">
            <div class="card ">
                <div class="card-body">
                    <h1 class="text-center mb-4">Registration</h1>
                    <div class="form-group">
                        <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Full Name" required>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password"required>
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                    <p class="message">Already registered? <a href="/auth/login">Login here</a></p>
                </div>
            </div>
        </form>
    </div>
    <%- include('footer.ejs') %>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
