/* Resetting default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
}

/* Header styles */
header {
    background: linear-gradient(to right, #ff7e5f, #fc720a);
    color: #fff;
    text-align: center;
}

/* Navbar styles */
nav {
    display: flex;
    justify-content: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

/* Container styles */
.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

/* Card styles */
.card {
    background: linear-gradient(to right, #d4fc79, #96e6a1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    position: relative;
}

.card h2 {
    padding: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card-content {
    padding: 20px;
}

/* List styles */
ul {
    list-style: none;
}

/* Movie title grid */
.card-content ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

/* Footer styles */
footer {
    background: linear-gradient(to right, #45a247, #283c86);
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.card-img-container {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.card-img-container .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-img-container:hover .overlay {
    opacity: 1;
}

.card-img-container:hover img {
    filter: brightness(70%);
}

.movie-title {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.movie-info {
    z-index: 2;
}

.authForms {
    max-width: 50%;
}

.customNavbar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    gap: 0px 10px;
    grid-auto-flow: row;
    justify-items: start;
    grid-template-areas:
        "Logo NavItems";
}

.Logo {
    grid-area: Logo;
}

.NavItems {
    grid-area: NavItems;
    justify-items: end;
    justify-content: end;
}

#LogoText {

    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.hidden {
    display: none;
}

.info-button {
    /* New styles for the "Info" button */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.movie-info {
    /* New styles to display cast and storyline below each other */
    color: white;
    text-align: start;
    padding: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.card:hover .movie-info {
    /* New styles to display cast and storyline when hovering over the card */
    opacity: 1;
}