.container {
  max-width: 90%;
  padding: 8% 0 0;
  margin: auto;
}

.form {
  background: #FFFFFF;
  width: 70%;
  max-width: 100%;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 2%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: auto;
  outline-color: gainsboro;
  background: #f2f2f2;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #f19d2f;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
}

.container {
  max-width: 50%;
  margin: 0 auto;
  
}
input[type='text'],input[type='email'],input[type='password'] {
  font-family: "Roboto", sans-serif;
  outline: auto;
  outline-color: gainsboro;
  background: #f2f2f2;
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

select{
  font-family: "Roboto", sans-serif;
  outline: auto;
  outline-color: gainsboro;
  background: #f2f2f2;
  width: 70%;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

body {
  background: rgb(255, 255, 127);
  background: linear-gradient(90deg, rgb(252, 255, 88) 0%, rgb(255, 184, 19) 50%);
  font-family: "Roboto", sans-serif;     
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  z-index: 10;
  display: none;
}